{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Local Diary</title>
    <style>
      .htmx-indicator {
        opacity: 0;
        transition: opacity 200ms ease-in;
      }
    </style>
    <link rel="stylesheet" href="/public/dist/output.css">
  </head>
  <body>
    <h1 id="message">{{.Message}}</h1>
    <form
      hx-indicator=".htmx-indicator"
      hx-target="#message"
      hx-post="{{.HOST}}/htmx/change-message"
    >
      <!-- hx-boost="true"
      onsubmit="event.preventDefault();" -->
      <input name="name" type="text" placeholder="Type a name" />
      <button type="submit">Submit</button>
    </form>
    <div class="htmx-indicator">Loading...</div>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="/public/test.js"></script>
    <script src="/public/dist/common.js"></script>
    <script src="/public/dist/index.js"></script>
  </body>
</html>
{{end}}
